/* HTML MEDIA */
audio {
  width: 100%;
}
video {
  width: 100%;
}

/* VIDEOS AND YOUTUBE */
.video-frame {
  overflow: hidden;

  iframe {
    width: 100%;
    height: 100%;
  }

}
