/* TABLE */
table {
  width: 100%;
  border: none;

  tr {

    th {
      font-weight: bold;
      border-bottom: 2px solid $clrgrey-lighter;
    }

    td {
      border-bottom: 1px solid $clrgrey-lighter;
    }

  }

  th, td {
    padding: 0.5rem;
  }

}

/* DETAILS LIST */
dl {
  overflow: hidden;

  dt {
    font-weight: bolder;
    clear: left;
  }
  dd {
  }

  dt,
  dd {
    float: left;
    padding: 0.5rem;
    border-bottom: 1px solid $clrgrey-lighter;
  }

}

/* FLEX */
.flex-table {
  display: flex;
  flex-direction: column;

  .flex-table-row {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid $clrgrey-lighter;

    .flex-table-cell {
      flex: 1 1 auto;
      padding: 0.5rem;
    }

  }

}
